*{
    box-sizing: border-box;
}

@font-face{
    font-family:"Seta Reta NF W01 Regular";
    src:url("../fonts/ecf31029-b987-40fc-88a1-2d11f4c7a2f1.woff2") format("woff2");
}

body{
    background-color: #fef9f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 36px;
    font-family:"Seta Reta NF W01 Regular" ;
}

h2{
    font-size: 26px;
    margin-bottom: 8px;
}

h3{
    font-size: 22px ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p, li{
    margin-bottom: 1rem;
    line-height: 160%;
}

header{
    text-align: center;
    background-color: #f9f6ea;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
  
}

li{
    margin-left: 1.5rem;
}

.facts{
    margin-top: 2rem;
}


footer{
    background-color: #000;
    width: 100%;
    
}


footer{
    display: flex;
    flex-direction: column;
    height: 350px;
    background-color: #000;
}



.footeritems{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.footerlinks{
    margin-top: 2rem;
}

.footerlinks a{
    color: #fff;
    font-family:"Seta Reta NF W01 Regular" ;
    font-size: 1.5rem;
    text-decoration: none;
    
}

@media screen and (min-width:768px) {
    main{
        width: 90%;
        max-width: 969px;
    }
    p{
       font-size: 17px;
    }
}

@media screen and ( min-width:1024px){
    footer{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footeritems{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 90% ;
        
    }
}

