*{
    box-sizing: border-box;
   
}

ol, ul {
	list-style: none;
}

@font-face{
    font-family:"KyivType";
    src:url("../fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Heavy.woff") format("woff2");
}

@font-face {
    font-family: "Grotesque";
    src: url('../fonts/GrotesqueMTStd.woff');
}

:root{
    --beige:#e4d9c5;
    --lifeHouse:"KyivType";
    --green: #426d61;
    --navFont:"Grotesque";
}

html, body {
    margin: 0;
    height: 100%;
    min-width: 375px !important;
}


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto ;
    
   
}

header{
    background-image: url('../imgs/Man.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
    position: relative;
}




.promo{
    background-color: var(--green);
    text-align: center;
    padding: 1rem;
    z-index: 500;
    
}

.promo a{
    color: var(--beige);
    font-family: var(--navFont);
    text-decoration: none;
}

.click{
    position: relative;
    left: 0.8rem;
    font-size: 0.8rem;
}


nav{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 1.5rem;
    align-self: flex-start;
    font-family: var(--lifeHouse);
    z-index: 500;
    width: 100%;
}

nav p{
    color: var(--beige);
}

.mobile-ham{
    width: 1.5rem;
    cursor: pointer;
}




.open-words{
    z-index: 500;
    color: var(--beige);
    display: flex;
    flex-direction: column;
  align-items: center;
  position: relative;
  top: 30%; 
}

.open-words p{
    font-family: var(--navFont);
    text-align: center;
    margin-top: 1rem;
}

.layer{
    background-color: hsla(283, 19%, 7%, 0.527);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bigNav-details{
    display: none;
}

.life-house{
    font-size: 1.5rem ;
}

.sidenav {
    height: 300px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 600;
    border-bottom-left-radius: 1rem;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: var(--navFont);
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .coming-soon{
      font-family: var(--lifeHouse);
      font-size: 1.2rem;
  }

  main{
      background-color: var(--green);
      padding: 0.6rem;
      display: grid;
      grid-template-rows: auto;
  }

  .secondary-headings{
      font-family: var(--lifeHouse);
      font-size: 1.9rem;
      border-bottom: 1px solid #000;
      width: 90%;
      align-self: center;
      padding: 2rem 1rem 1rem 1.5rem;
     
  }

.section{
      background-color: var(--beige);
      /* padding: 1rem; */
      display: flex;
      flex-direction: column;
     
     
      
  }

  
  .main-wording-section{
     padding: 1rem;
      align-self: center;
      width: 90%;
      display: flex;
      align-self: center;
  }
  
  
  
  .main-wording{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 0.8rem;
    padding: 1rem;
    font-family: var(--navFont);
  }


  .main-photos{
      width: 100%;
      position: relative;
      bottom: 0;
  }

  #gallery{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: var(--green);
      padding: 2rem;
      cursor: pointer;
      
  }

  #gallery p{
      text-align: center;
      color: var(--beige);
      
  }

  .gallery-icon{
      width: 2rem;
      position: relative;
      left: 1rem;
      fill: white;
  }

  #room_features{
    border-bottom: 1px solid black;
    margin-top: 1.2rem;
    padding: 1rem;
  }


  #room_features li{
border-top: 1px solid grey;
/* margin: 1rem 0rem;  */
padding: 1.4rem 0rem;
letter-spacing: 0.2rem ;
font-size: 0.8rem;

  }

  .room_feature{
      display: flex;
      align-items: center;
      font-family: var(--navFont);
  }

  .room-icon{
      width: 1.9rem;
      margin-right: 0.5rem;
  }

  .section_split{
      display: flex;
      flex-direction: column;
  }

  .guestroom-word{
      display: flex;
      flex-direction: column;
  }

 

  #Hotel_features{
      display: none;
  }

  #section1{
      margin-top: 1rem;
  }

  .resto-title{
      font-size: 1.2rem;
      font-family: var(--lifeHouse);
      padding: 0rem 0rem 0rem 1rem;
      margin-top: 1rem;
  }

  
  .spaces-section{
    flex-direction: column;
    }
  

  
  
    #map { 
        height: 400px; 
    width: 100%
    
    }

#contact{
        background-color: var(--green);
        height: 140px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact p{
        color: #fff;
        font-family: "Kyivtype" ;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #email{
        color: #fff;
        text-decoration: none;
    }

    footer{
        background-color: #000;
        
    }

    #email:hover{
        color: #000;
    }

    footer{
        display: flex;
        flex-direction: column;
        height: 250px;
        background-color: #000;
    }

    .footeritems{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .footerlinks{
        margin-top: 2rem;
    }

    .footerlinks a{
        color: #fff;
        font-family: var(--lifeHouse);
        font-size: 1.2rem;
        text-decoration: none;
        
    }

    #logo{
        width: 20rem;
        padding-bottom: 0.5rem;
        /* border-bottom: 2px solid var(--beige); */
    }


    #email{
        font-size: 1.2rem;
    }

    

   

    




@media screen and (min-width:768px){
    .mobile-ham{
       display: none;
    }

    #Sidenav{
        display: none !important;
    }

    .bigNav-details{
        display: flex;
        flex-direction: row;
        width: 640px;
        justify-content: space-around;
        font-family: var(--navFont) ;
    }

    .coming-soon{
        
        font-size: 1.4rem;
    }


    

    .open-words p{
       font-size: 1.2rem;
    }


    .secondary-headings{
        font-size: 2.5rem;
        
    }

    

   


    .selection-items:hover{
border-bottom: 1px solid var(--beige);
cursor: pointer;
    }



    .selection-items a{
        color: var(--beige);
        text-decoration: none;
    }

    

   

    #logo{
        width: 30rem;
    }

    .hotel_feature{
        font-family: var(--navFont);
    }




}





@media screen and (min-width:1024px){
    .section{
       flex-direction: column;
        
    }

    #Hotel-features{
        padding: 1rem 2rem 0rem 0rem;
    }

    .main-wording{
        padding: 0rem 1rem 0rem 0rem;
    }

    .main-wording-section{
        padding: 1rem 0rem 0rem 0rem;
    }

    .section_split{
        display: flex;
        flex-direction: row;
       width: 90%;
       align-self: center;
       
        
    }

   #gallery{
       display: none;
   }

   #Hotel_features{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0rem 0rem;
}

.hotel_feature{
    padding: 2rem 0rem;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.story-section{
    display: flex;
    flex-direction: column;
}


.main-photos{
    width: 60%;
    height: 450px;
    position: relative;
    top: 2rem;
}

.main-wording-section{
    align-self: initial;
    width: 40%;
}

#section1{
    padding-bottom: 5rem;
    padding-top: 2rem;
}

#section2{
    padding-bottom: 5rem;
    padding-top: 2rem;
}

#section3{
    padding-bottom: 5rem;
    padding-top: 2rem;
}

#section4{
    padding-bottom: 5rem;
    padding-top: 2rem;
}


.secondary-headings{
    
    padding: 2rem 1rem 1rem 0rem;
   
}

.guestroom-word{
    order: 5;
    width: 50%;
    padding-left: 1rem;

}

.slideshow-container {
   
    display: flex;
    position: relative;
    top: 2rem;
    width: 60%;
    height: 450px;
  
    
  }

  .slideshow-container2{
   
    display: flex;
    position: relative;
    top: 2rem;
    width: 60%;
    height: 400px;
  
    
  }

  .guestroom-word{
      width: 40%;
  }

  .guest-style{
    padding: 0rem 0rem 0rem 1rem
  }


  .resto-title{
    font-size: 1.2rem;
    font-family: var(--lifeHouse);
    padding: 0rem 0rem 0rem 0rem;
}

#map{
    width: 80%;
    
    top: 2rem;
}


footer{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footeritems{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 90% ;
    
}

#logo{
    width: 35rem;
}








}


@media screen and (min-width:1440px){
    

    .open-words p{
        font-size: 1.5rem;
     }

     .secondary-headings{
         font-size: 3rem;
     }

     .main-photos{
        width: 60%;
        height: 550px;
        position: relative;
        top: 2rem;
    }

    .slideshow-container {
   
        height: 550px;
        
      }

      .slideshow-container2{
          height: 550px;
      }

      #map{
          height: 500px;
      }


      #logo{
        width: 40rem;
    }

   
}

@media screen and (min-width:1800px){
    .main-photos{
        width: 80%;
    }
    .story-section{
        width: 40%;
    }

    .slideshow-container{
        width: 80%;
    }

    .guestroom-word{
        width: 40%;
    }
}






/* Slideshow container */
.slideshow-container {
    
    position: relative;
    
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #d26249;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
 
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



  .slideshow-container2 {
    
    position: relative;
    
    
  }
  
  /* Hide the images by default */
  .mySlides2 {
    display: none;
    width: 100%;
  }



  

 









